<% include header%>
    
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h4>Log In</h4>
                        </div>

                        <!-- <%- messages() %> -->
						<form method="post" action="/users/login" autocomplete="on">
							<input type="hidden" name="next" value="/">
							<fieldset>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input id="username" class="form-control" name="username" required="required" type="text" placeholder="myusername" />
                                </div>
                                <div class="form-group">
                                    <label> Password</label>
                                    <input id="password" class="form-control" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                                </div>
								<div class="control-group">
                                    <button tabindex="3" class="btn essence-btn" type="submit">Sign into your account</button>
									<hr>
									<p class="reset">Recover your <a tabindex="4" href="#" title="Recover your username or password">username or password</a></p>
								</div>
							</fieldset>
						</form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h4>Sign Up</h4>
                        </div>
                        
                        <% if (typeof errors !== 'undefined'){errors.forEach(function(error){%>
                            <div class="alert alert-danger">
                                <%= error.msg %>
                            </div>        
                            <% })} %>
						<form method="post" action="/users/register">
							<fieldset>
								<div class="form-group">
                                        <label> Your Username</label>
                                        <input id="username" class="form-control" name="username" required="required" type="text" placeholder="mysuperusername690" />
                                    </div>
                                    <div class="form-group">
                                        <label> Your Email</label>
                                        <input id="email" class="form-control" name="email" required="required" type="email" placeholder="mysupermail@mail.com" />
                                    </div>
                                    <div class="form-group">
                                        <label> Your Password</label>
                                        <input id="password" class="form-control" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                                    </div>
                                    <div class="form-group">
                                        <label> Please Confirm Your Password</label>
                                        <input id="password2" class="form-control" name="password2" required="required" type="password" placeholder="eg. X8df!90EO" />
                                    </div>
								<hr>
                                <button class="btn essence-btn" type="submit">Create your account</button>
							</fieldset>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand1.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand2.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand3.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand4.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand5.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/products/img/core-img/brand6.png" alt="">
        </div>
    </div>
    <!-- ##### Brands Area End ##### -->

<% include footer%>