<!DOCTYPE html>
<html>
  <head>
    <title>Football Factory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.slim.min.js' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.bundle.min.js' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
        <a class="navbar-brand" href="/">Soccer Society</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
            </ul>

        </div>
        </div>
    </nav>

    <div class="container"><br>
        <h1>Registration Form</h1><br>
        <% if (typeof errors !== 'undefined'){errors.forEach(function(error){%>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>        
            <% })} %>
                <form method="post" enctype="multipart/form-data" action="/users/register">
                    <div class="form-group">
                        <label> First Name</label>
                        <input id="firstname" class="form-control" name="firstname" required="required" type="text" placeholder="Robert" />
                    </div>
                    <div class="form-group">
                        <label> Last Name</label>
                        <input id="lastname" class="form-control" name="lastname" required="required" type="text" placeholder="Robert" />
                    </div>
                    <div class="form-group">
                        <label> Your Username</label>
                        <input id="username" class="form-control" name="username" required="required" type="text" placeholder="mysuperusername690" />
                    </div>
                    <div class="form-group">
                        <label> Your Email</label>
                        <input id="email" class="form-control" name="email" required="required" type="email" placeholder="mysupermail@mail.com" />
                    </div>
                    <div class="form-group">
                        <label> Your Password</label>
                        <input id="password" class="form-control" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </div>
                    <div class="form-group">
                        <label> Please Confirm Your Password</label>
                        <input id="password2" class="form-control" name="password2" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </div>
                    <div class="form-group">
                        <label> Profile Image</label>
                        <input id="profileimage" class="form-control" name="profileimage" type="file" />
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
    </div>

</body>

</html>