/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    position: relative;
    z-index:10;
    margin-top: 3em;
    padding: 1rem;
    text-align: center;
}

.carousel-inner img {
    width: 85%;
    margin: auto;
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

ul.success li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

ul.error li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/* Calendar styles */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 2%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days #employee_name{
    width: 6%;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .days li {width: 12.5%;}
}

@media screen and (max-width: 290px) {
    .days li {width: 12.2%;}
}

.days2 {
    padding: 2px 0;
    background: #eee;
    margin: 0;
}

.days2 li {
    list-style-type: none;
    display: inline-block;
    width: 2%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days2 li .odznacit {
    padding: 5px;
    background: #a1b7bd;
    color: white !important
}

.days2 li .dovolenka {
    padding: 5px;
    background: #00bfff;
    color: white !important
}

.days2 li .praceneschopnost {
    padding: 5px;
    background: #a65959;
    color: white !important
}

.days2 li .schvalit {
    padding: 5px;
    background: #00ff80;
    color: white !important
}

.days2 #employee_name{
    width: 6%;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .days2 li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .days2 li {width: 12.5%;}
    .days2 li .odznacit, .dovolenka {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .days2 li {width: 12.2%;}
}